* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Zeyada';
}

input ~ small {
    display: none;
}

input:invalid + small {
    display: block;
}

input:valid + small + small {
    display: block;
    background-color: rgb(173, 250, 177);
}